img {
    width: 30%;
    margin: calc(10%/6);

}

nav {
    text-transform: uppercase;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 1.5em;
    border-bottom: 2px solid #d1d0d0;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 1.2em 0 0.5em 0;
}